<a href="https://colab.research.google.com/github/saahil-karnik/Test2/blob/main/Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Types and Structures Questions

1) What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.
- In Python, common data structures include:
a) List - ordered, mutable collection
b) Tuple - ordered, immutable collection
c) Set - unordered collection of unique elements
d) Dictionary - key-value pairs for fast lookup

2) Explain the difference between mutable and immutable data types with examples.
- In Python, data types are classified into mutable and immutable depending on whether their values can be changed after creation.
- 1. Mutable Data Types:
a) Can be changed in place
b) No new object is created when modified
eg: list, dict, set

- 2. Immutable Data Types:
a) Cannot be changed once created
b) Any "change" results in a new object
eg: int, float, str, bool, tuple

3) What are the main differences between lists and tuples in Python?
- List: Mutable (can change elements)	, Uses square brackets , Performance	slightly slower.
-Tuple: Immutable (can't change once created), Uses round brackets,
Performance slightly faster.

4) Describe how dictionaries store data
- A dictionary in Python is a built-in data structure that stores data in key-value pairs, much like a real-life dictionary where you look up a word (key) to find its definition (value).

5) Why might you use a set instead of a list in Python?
- A set is a built-in data type in Python used to store unordered, unique items. It is especially useful when one cares about uniqueness, fast membership testing, or set operations.

6) What is a string in Python, and how is it different from a list?
- A string in Python is a sequence of characters enclosed in single, double, or triple quotes. It is an immutable data type — you cannot change it after it is created.

7) How do tuples ensure data integrity in Python?
- Tuples help ensure data integrity in Python by being immutable. Once created, their contents cannot be changed, added to, or removed. This makes them ideal for storing fixed, reliable data.

8) What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs and allows for fast access, insertion, and deletion using a process called hashing.

9) Can lists contain different data types in Python?
- One of Python's powerful features is that its lists are heterogeneous, meaning you can store mixed data types (integers, strings, booleans, other lists, etc.) in a single list.

10) Explain why strings are immutable in Python?
- In Python, strings are immutable, meaning once a string is created, you cannot change its content. Any operation that modifies a string actually creates a new string object.

11) What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer fast lookups by keys, key-value mapping, eliminate need for indexing, and better data organization. We should use dictionaries when: we a) want to look up elements by a unique key.
b) data naturally fits key-value pairs.
c) we want to avoid linear search overhead.

12) Describe a scenario where using a tuple would be preferable over a list?
- Suppose we want to represent a geographic coordinate like (latitude, longitude). We should use a tuple when data:
a) Represents a fixed collection of items.
b) Should be immutable for safety or logic reasons.
c) Needs to be used as a key in dictionaries or elements of sets.

13) How do sets handle duplicate values in Python?
- When we add items to a set, Python checks if the item already exists. If it does, the duplicate is ignored. Only one copy of each unique element is kept.

14) How does the “in” keyword work differently for lists and dictionaries?
- Lists: Checks if the value exists anywhere in the list. Performs a linear search, scanning elements one by one.
- Dictionaries: Checks if the key exists in the dictionary. Uses the hash table underneath, so lookup is very fast.

15) Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its content cannot be changed.

16) What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary where some values are themselves dictionaries. This allows us to represent more complex, hierarchical data structures. Example Use Case: Storing Student Information. Imagine we want to store details about multiple students, including their personal info and grades. A nested dictionary is suited in this case.

17) Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a Python dictionary generally has an average time complexity of O(1), constant time.

18) In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when: Order matters, we need to access by index, one is working with sequences or collections of similar items.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they don't guarantee the insertion order of key-value pairs. Internally, they are implemented purely for fast access via hashing, not for maintaining sequence. When we loop through a dictionary, the order of keys and values can appear random. This means you can't rely on the order in which items are added to the dictionary.

20) Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists support indexed, positional retrieval. They store ordered collections of elements. Items are accessed using integer indices (starting at 0). Retrieval requires knowing the position of the item.

- Dictionaries support key-based retrieval. They store key-value pairs. Items are accessed using unique keys, not positions. Retrieval is fast and direct (O(1) average time) using a hash table.

In [ ]:
#1) Write a code to create a string with your name and print it

name = "Saahil"
print(name)

Saahil

In [ ]:
#2) Write a code to find the length of the string "Hello World"

len("Hello World")

11

In [ ]:
#3) Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
string[:3]

'Pyt'

In [ ]:
#4) Write a code to convert the string "hello" to uppercase

str = "hello"
str.upper()

'HELLO'

In [ ]:
#5) Write a code to replace the word "apple" with "orange" in the string "I like apple"

str = "I like apple"
str.replace("apple", "orange")

'I like orange'

In [ ]:
#6) Write a code to create a list with numbers 1 to 5 and print it

list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7) Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [ ]:
#10) Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple = (100,200,300)
print (tuple)

(100, 200, 300)

In [ ]:
#12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

In [ ]:
#13) Write a code to find the minimum number in the tuple (10, 20, 5, 15)

tuple = (10, 20, 5, 15)
min(tuple)

5

In [ ]:
#14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [ ]:
#15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple = ('apple', 'banana', 'chickoo')
"kiwi" in tuple

False

In [ ]:
#16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set = {'a','b','c'}
print(set)

{'b', 'c', 'a'}

In [ ]:
#17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [ ]:
#18) Write a code to remove the element 4 from the set {1, 2, 3, 4}

set= {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
#20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}
set1.intersection(set2)

{2, 3}

In [ ]:
#21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict = {"name":"Saahil","age":26,"city":"Thane"}
print(dict)

{'name': 'Saahil', 'age': 26, 'city': 'Thane'}

In [ ]:
#22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

dict = {'name': 'John', 'age': 25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict = {'name': 'Alice', 'age': 30}
dict["name"]

'Alice'

In [ ]:
#24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [ ]:
#26) Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [10, 20, 30]
my_tuple = ('apple', 'banana', 'chickoo')
my_dict = {'name': 'Saahil', 'age': 26, 'city': 'Thane'}

print(my_list)
print(my_tuple)
print(my_dict)

[10, 20, 30]
('apple', 'banana', 'chickoo')
{'name': 'Saahil', 'age': 26, 'city': 'Thane'}

In [ ]:
#27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random

random_num = [random.randint(1, 100) for _ in range(5)]
random_num.sort()
print(random_num)

[63, 68, 80, 82, 89]

In [ ]:
#28) Write a code to create a list with strings and print the element at the third index.

list = ['apple','banana','cherry']
list[2]

'cherry'

In [ ]:
#29) Write a code to combine two dictionaries into one and print the result.

my_dict1 = {'a':1,'b':2}
my_dict2 = {'c':3,'d':4}

my_dict1.update(my_dict2)
print(my_dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30) Write a code to convert a list of strings into a set

employee_list = ["apple","banana","cherry"]
employee_set = {name for name in employee_list}
print(employee_set)

{'banana', 'apple', 'cherry'}